

<!-- foote-->
<footer class="row" id="contact">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-1">
                <a href="#"><img src="img/d3logo_white.png"width="100px"></a>
            </div>
            <div class="col-md-7" id="copyright">Copyright© 2011-2014 by D3. All rights reserved.</div>
</footer>
